<!DOCTYPE html>
<html>
<head>

    <title>
        Quick - REST API Documentation
    </title>

</head>

<body>

<div>
    <h1>Quick REST API Documentation.</h1>
    The following endpoints can be used:
    <ul>
        <li>
            /user
        </li>
        <li>
            /business
        </li>
        <li>
            /business
        </li>
        <li>
            /product
        </li>
        <li>
            /purchase
        </li>
    </ul>
</div>

<div>
    <!--/user guide-->
    <h2>/user</h2>
    <p><b>The /user endpoint can be used to for all
            interactions with user accounts. </b></p>
    <table border="1px">
        <thead>
            <tr>
                <th>Description</th>
                <th>HTTP Method</th>
                <th>HTTP Headers</th>
                <th>JSON</th>
                <th>Response Codes</th>
                <th>Response Body</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adding a user.</td>
                <td>POST</td>
                <td>Content-Type: application/json</td>
                <td> <pre id="json">
{
    "user": {
              "firstname": "John",
              "lastname": "Smith",
              "email": "johnsmith@email.com",
              "password": "strong-password"
             }
 }
                    </pre>
                </td>
                <td><ul>
                        <li>Success: 200 </li>
                        <li>Failure: 500</li>
                        <li>Unprocessable: 422</li>
                    </ul>
                </td>
                <td>Success:
                    <pre>
{
    "responseMessage":"User was successfully created.",
    "type":true,
    "token":"some.Token.Value",
    "expires":"10h"
}
                    </pre>
                </td>
            </tr>
        </tbody>
    </table>
    <p>cURL Example:
        <code id="json">curl http://localhost:3000/user
                -X POST
                -H "Content-Type: application/json"
                -d '{
                      "user": {
                                "firstname": "John",
                                "lastname": "Smith",
                                "email": "johnsmith@email.com",
                                "password": "strong-password"
                               }
                    }'
        </code>

        <p><b> TODO: Add documentation for /user/info.</b></p>
    </b>
</div>

<div>
    <!--/business guide-->
    <h2>/business</h2>
    <p><b></b></p>
    <table border="1px">
        <thead>
        <tr>
            <th>Description</th>
            <th>HTTP Method</th>
            <th>HTTP Headers</th>
            <th>JSON</th>
            <th>Response Codes</th>
            <th>Response Body</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Add a business.</td>
            <td>POST</td>
            <td>Content-Type: application/json</td>
            <td> <pre>
{
    "business": {
                    "name": "Quick Co.",
                    "address": "202 Grafton Street, Dublin 1",
                    "contactNumber": "8683145",
                    "email": "quickco@email.com",
                    "password": "strong-password"
                }
}
                </pre>
            </td>
            <td><ul>
                    <li>Success: 200 </li>
                    <li>Failure: 500</li>
                    <li>Unprocessable: 422</li>
                </ul>
            </td>
            <td>Success:
                <pre>
{
    "responseMessage": "Business was successfully created.",
    "type":true,
    "token": "some.token.value",
    "expires":"10h"
}
                </pre>
            </td>
        </tr>
        </tbody>
    </table>
    <p>cURL Example:
        <code id="json">curl http://localhost:3000/business
                        -X POST
                        -H "Content-Type: application/json"
                        -d '{
                              "business": {
                                            "name": "Quick Co.",
                                            "address": "202 Grafton Street, Dublin 1",
                                            "contactNumber": "8683145",
                                            "email": "quickco@email.com",
                                            "password": "strong-password"
                                          }
                            }'
        </code>
    </p>
</div>

<div>
    <!--/business products guide-->
    <h2>/businessID/products</h2>
    <p><b></b></p>
    <table border="1px">
        <thead>
        <tr>
            <th>Description</th>
            <th>HTTP Method</th>
            <th>HTTP Headers</th>
            <th>JSON</th>
            <th>Response Codes</th>
            <th>Response Body</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Use this endpoint to retrieve all products for a business.</td>
            <td>GET</td>
            <td>TODO: Add headers</td>
            <td> N/A
            </td>
            <td><ul>
                    <li>Success: 200 </li>
                    <li>Failure: 500</li>
                </ul>
            </td>
            <td><pre>
{
    "products":[
                    {
                        "id": "HkS8iQYY",
                        "business_id": 123123412,
                        "name": "Latte",
                        "price": 3.5,
                        "description": "This is alatte"
                    }
                ]
}
                </pre>
            </td>
        </tr>
        </tbody>
    </table>
    <p>cURL Example:
        <code>curl http://localhost:3000/business/123123412/products -X GET</code>
    </p>
</div>

<div>
    <!--/product guide-->
    <h2>/product</h2>
    <p><b>The /product endpoint can be used to for all
            interactions with products. </b></p>
    <table border="1px">
        <thead>
        <tr>
            <th>Description</th>
            <th>HTTP Method</th>
            <th>HTTP Headers</th>
            <th>JSON</th>
            <th>Response Codes</th>
            <th>Response Body</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Adding a product.</td>
            <td>POST</td>
            <td>Content-Type: application/json</td>
            <td> <pre id="json">
{
    "product": {
                    "name": "Latte",
                    "price": 3.50,
                    "description": "This is a latte.",
                    "businessID": "21kekqdpq"
                }
}
                </pre>
            </td>
            <td><ul>
                    <li>Success: 200 </li>
                    <li>Failure: 500</li>
                    <li>Unprocessable: 422</li>
                </ul>
            </td>
            <td>Success:
                <pre> { "responseMessage" : "Product was successfully created." }</pre>
            </td>
        </tr>
        </tbody>
    </table>
    <p>cURL Example:
        <code id="json">curl http://localhost:3000/product
                -X POST
                -H "Content-Type: application/json"
                -H "Authorization: Bearer e67jp3VKQ9GEM "
                -d '{
                        "product": {
                            "name": "Latte",
                            "price": 3.50,
                            "description": "This is a latte.",
                            "businessID": "21kekqdpq"
                        }
                    }'
        </code>
</div>

<div>
    <!--/purchase guide-->
    <h2>/purchase</h2>
    <p><b>The /purchase endpoint can be used to make purchases.</b></p>
    <table border="1px">
        <thead>
        <tr>
            <th>Description</th>
            <th>HTTP Method</th>
            <th>HTTP Headers</th>
            <th>JSON</th>
            <th>Response Codes</th>
            <th>Response Body</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Creating a purchase.</td>
            <td>POST</td>
            <td><ul>
                    <li>Content-Type: application/json</li>
                    <li>Authorization: Bearer some.token.value</li>
                </ul>
            </td>
            <td> <pre id="json">
{
    "purchase": {
                    "businessID": "dldpld9i9wi",
                    "productID": "dlp32pddw",
                }
}
                </pre>
            </td>
            <td><ul>
                    <li>Success: 200 </li>
                    <li>Failure: 500</li>
                    <li>Unprocessable: 422</li>
                </ul>
            </td>
            <td>Success:
                <pre>{"responseMessage": "Purchase was successfully created.", "purchaseID":"S1rARD9K" }</pre>
            </td>
        </tr>
        </tbody>
    </table>
    <p>cURL Example:
        <code id="json">curl http://localhost:3000/purchase
            -X POST
            -H "Content-Type: application/json"
            -H "Authorization: Bearer e67jp3VKQ9GEM "
            -d '{
                    "purchase": {
                        "businessID":"rkxd5WL5",
                        "productID": "HkrwIDcY"
                    }
                }'
        </code>
</div>
</body>
</html>
