<!DOCTYPE html>
<html ng-app="products">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <% include /imports/angularJS %>
  <% include /imports/auth0-jwt %>
  <% include /imports/jQuery %>
  <% include /imports/bootstrap %>
  <% include /partials/businessNavBar %>

  <!--product-->
  <script src="/product/productsController.js"></script>
  <script src="/product/productsCreationController.js"></script>
  <script src="/product/productOptionsDirective.js"></script>
  <script src="/product/ProductOption.js"></script>
  <script src="/product/products.js"></script>
  <script src="/product/Product.js"></script>
  <!--javascripts-->
  <script src="/javascripts/dropper.js"></script>
  <script src="/javascripts/session.js"></script>
  <script src="/javascripts/alert.js"></script>
  
  <!--html-->
  <link href="/product/productOptionsDirective.html" rel="import"/>

  <!--css-->
  <link href="/stylesheets/container.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/products.css" rel="stylesheet" type="text/css" />
  <title>Add Product</title>
</head>

<body ng-controller="ProductsCreationController">
  <div class="container">
    <div class="heading">Add New Product</div>
    <!--default add product inputs-->
    <form name="addProductForm" ng-submit="addProduct()">
      <fieldset>
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <hr>
          </div>
        </div>
        <!--input fields-->
        <div class="form-group">
          <!--id-->
          <label for="inputID" class="col-sm-2 control-label">ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bottom-space" id="inputID" placeholder="ID" ng-model="product.id">
          </div>
          <!--name-->
          <label for="inputName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control bottom-space" id="inputName" placeholder="Name" ng-model="product.name" required>
          </div>
          <!--processing-->
          <label for="processing" class="col-sm-2 control-label">Processing Time (minutes)</label>
          <div class="col-sm-10">
            <input type="number" step="1.0" class="form-control bottom-space" id="inputProcessing" placeholder="Processing" ng-model="product.processing" required>
          </div>
          <!--description-->
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control bottom-space" id="description" placeholder="Description" style="resize: vertical;" rows="3"
              ng-model="product.description" required>
            </textarea>
          </div>
          <!--price -->
          <label for="description" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-10">
            <!--currency-->
            <div class="input-group" ng-model="Euro" input-dropper>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{value}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li drop-item id="Euro €"><a href="">Euro € </a></li>
                </ul>
              </div>
              <input type="number" step="0.01" class="form-control bottom-space" aria-label="..." ng-model="product.price" valid-number required />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <hr>
          </div>
        </div>
      </fieldset>


      <!--configure options fieldset-->
      <fieldset>
        <product-options options="product.options"></product-options>
        <hr>
        <!-- add product button-->
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="button-wrap">
              <button class="btn btn-primary" type="submit" ng-disabled="addProductForm.$invalid">Add Product</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    
    <!--alert-->
    <div>
      <alert ng-show="showAlert"></alert>
    </div>
    <div id="bottom"></div>
  </div>
</body>

</html>