<!DOCTYPE html>
<html ng-app="home">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <% include /imports/jQuery %>
  <% include /imports/angularJS %>
  <% include /imports/auth0-jwt %>
  <% include /imports/bootstrap %>
  <% include /partials/navBar %>
  
  <script src="../javascripts/home.js"></script>
  <script src="../javascripts/session.js"></script>
  <script src="../javascripts/purchase.js"></script>
  <script src="../javascripts/token.js"></script>
  <link href="../stylesheets/purchase.css" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/container.css" rel="stylesheet" type="text/css" />
  
  <title>Quick - Home</title>
</head>

<body ng-controller="HomeController">
  <h3>Recent Purchases</h3>
  <div class="container" ng-repeat="purchase in purchases">
    <div class="row purchaseHeadingWrap">
      <div class="col-lg-12 col-md-12 col-xs-12 purchaseHeading">HISTORY</div>
    </div>
    <hr>
    <div class="row">
      <div class="items">
        <div class="purchaseItem">- Chicken Royale Meal</div>
        <div class="purchaseItem">- XL fries</div>
        <div class="purchaseItem">- XL CocaCola</div>
        <div class="purchaseItem">- S Cheese Dips</div>
      </div>
    </div>
    <hr>
    <div class="row purchaseLocationWrap">
      <div class="col-lg-12 col-md-12 col-xs-12 purchaseLocation">{{purchase.businessName}}, Grafton Street, Dublin 2</div>
    </div>
    <div class="row purchasePriceWrap">
      <div class="col-lg-12 col-md-12 col-xs-12 purchasePrice">€{{purchase.productPrice}}</div>
    </div>
    <div class="row purchaseTimeWrap">
      <div class="col-lg-12 col-md-12 col-xs-12 purchaseTime">12th Jan, 13:45</div>
    </div>
  </div>
</body>
</html>