<!DOCTYPE html>
<html ng-app="signUp">
<head>
    <% include /imports/angularJS %>
    <% include /imports/auth0-jwt %>
    <% include /imports/jQuery %>
    <% include /partials/navBar %>
		<script src="../javascripts/signUp.js"></script>
    <script src="../javascripts/session.js"></script>
    <script src="../javascripts/routes.js"></script>
    <title>Index Page</title>
</head>

<body>

<div ng-controller="SignUpController" ng-init="endPoint='/business'">
    <h1>Register as business!</h1>
    <p>Name</p>
    <input type="text" ng-model="httpBody.business.name">
    <p>Address</p>
    <input type="text" ng-model="httpBody.business.address">
    <p>Open</p>
    <input type="text" ng-model="httpBody.business.period.begin">
    </p>Close</p>
    <input type="text" ng-model="httpBody.business.period.end">
    <p>Contact Number</p>
    <input type="text" ng-model="httpBody.business.contactNumber">
    <p>Email</p>
    <input type="text" ng-model="httpBody.business.email">
    <p>Password</p>
    <input type="text" ng-model="httpBody.business.password">
    <button type="submit" ng-click="signUp()">Sign Up</button >
    {{message}}
</div>

</body>
</html>