<head>
  <link href='../stylesheets/navBar.css' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery.min.js"></script>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/images/Q.svg" width="20px">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>
  </div>
</nav>